/* Element styling */
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  font-family: "Itim", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background: #2941FF;
  margin-top: 20px;
}

h1 {
  font-size: 2.3em;
  font-family: "Poetsen One", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: #2941FF;
}

h2 {
  font-size: 2.3em;
  font-family: "Poetsen One", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: #2941FF;
}

.subtitle {
  font-size: 2.3em;
  font-family: "Poetsen One", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: #2941FF;
}

a {
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  color: #2941FF;
}

table {
  border: 2px solid #D6F0FF;
}

th {
  text-align: left;
  background-color: #D6F0FF;
}

th,
td {
  padding: .2em .5em;
}

/* Common use classes */
.clear {
  clear: both;
}

.align-center {
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.flex>* {
  margin: auto;
}

.content {
  padding-bottom: 10px;
}

.content img {
  max-width: 100%;
}

.changelog ul img {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  margin: 1em;
  border: 1px solid #d8d8d8;
}

.text-decor-none {
  text-decoration: none;
}

.button-link {
  text-decoration: none;
}

.button {
  background-color: #0063FF;
  font-family: "Poetsen One", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  border: none;
  border-radius: 15px;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  max-width: 100%;
  width: 400px;
}

.button:hover {
  background-color: #2941FF;
}

.button[disabled] {
  background-color: #CCCCCC;
  color: #888888
}

.button[disabled] img {
  filter: grayscale(1);
}

.button img,
.button span {
  vertical-align: middle;
  padding: 0px 5px;
}

/* List modifiers */
ul.no-markers {
  list-style-type: none;
  padding: 0;
}

ul.padded {
  padding-left: .8em;
}

/* Content styling */
.container {
  max-width: 1000px;
  min-height: 50px;
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 20px 40px;
}

.container>.content,
.container>.question {
  word-wrap: break-word;
  margin: 0 auto;
}

.container.align-center>.content,
.container.align-center>.question {
  max-width: 70ch;
}

.display {
  text-align: center;
  margin: 1em 0;
}

.display>img {
  margin: 0 auto;
  border: 10px solid #2941FF;
  border-radius: 20px;
  max-width: 400px;
  width: 90%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.header>div {
  display: flex;
  gap: 10px;
}

.header>div:first-child {
  text-align: left;
}

.header>div:last-child {
  text-align: right;
}

.subtitle {
  font-size: 2.5em;
  font-weight: 600;
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0.83em;
  max-width: 600px;
}

.question {
  font-weight: 600;
  font-size: 1.2em;
  display: block;
  padding-bottom: 15px;
}

.no-wrap {
  white-space: nowrap;
}

.browser-icon {
  height: 1em;
  padding-left: 10px;
  vertical-align: middle;
}

@media (max-width: 800px) {
  .subtitle {
    font-size: 2em;
  }

  .header {
    flex-direction: column;
  }

  .header>div:first-child,
  .header>div:last-child {
    text-align: center;
  }

  .container {
    padding: 20px;
  }

  .flex {
    flex-direction: column;
  }
}

div.scroll {
  position: relative;
  height: 64px;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
  margin: 0 20px;
  padding: 10px 0;
}

.m-scroll1 {
  overflow: hidden;
  white-space: nowrap;
  animation: scrollText1 60s linear infinite alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: 0;
  font-size: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: fit-content;
}

.m-scroll2 {
  overflow: hidden;
  white-space: nowrap;
  animation: scrollText2 60s linear infinite alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: 0;
  font-size: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: fit-content;
}

div.scroll img {
  display: inline-block;
  max-width: 64px;
  max-height: 64px;
  padding: 4px 10px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
}
div.scroll abbr {
  display: flex;
  align-items: center;
}

@keyframes scrollText1 {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollText2 {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0%);
  }
}

.comparison {
  position: absolute;
  height: 500px;
  width: 750px;
  overflow: hidden;
  background: #fff;
  border: 7px solid #fff;
  border-radius: 15px;
}
.comparison .images {
  height: 475px;
  width: 960px;
  display: flex;
}
.comparison .images .img-1 {
  height: 100%;
  width: 100%;
  background: url("img/slider/kirby-fandom-wiki.png") no-repeat;
}
.comparison .images .img-2 {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("img/slider/wikirby.png") no-repeat;
}
.comparison .slider {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}
.comparison .slider input {
  width: 100%;
  outline: none;
  background: none;
}
.slider input::-webkit-slider-thumb {
  height: 486px;
  width: 5px;
  background: none;
  -webkit-appearance: none;
  cursor: col-resize;
}
.slider .drag-line {
  width: 5px;
  height: 486px;
  position: absolute;
  left: 49.85%;
  pointer-events: none;
}
.slider .drag-line::before,
.slider .drag-line::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 222px;
  background: #2941FF;
}
.slider .drag-line::before {
  top: 0;
}
.slider .drag-line::after {
  bottom: 0;
}
.slider .drag-line span {
  height: 42px;
  width: 42px;
  border: 3px solid #2941FF;
  background-color: #D6F0FF;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.slider .drag-line span::before,
.slider .drag-line span::after {
  position: absolute;
  content: "";
  top: 50%;
  border: 10px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.slider .drag-line span::before {
  left: 40%;
  border-left-color: #2941FF;
  background-color: #D6F0FF;
}
.slider .drag-line span::after {
  left: 60%;
  border-top-color: #2941FF;
  background-color: #D6F0FF;
}
